/* Copy styles from GH, i.e. https://docs.github.com/en/rest/overview/about-githubs-apis?apiVersion=2022-11-28 */

#toc {
    position: sticky;
    float: right;
    overflow-y: auto;
    max-width: 200px;
    padding-top: 16px;
    padding-left: 24px;
}

main {
    position: relative;
}

.spinner {
    /* Positioning */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
    /* Spinner styling - example with border */
    border: 4px solid transparent;
    border-top: 4px solid currentColor;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.borderless {
    border: none;
}

.border {
    border: 1px solid silver;
}

.no-before::before {
    content: none !important;
}